{% from "bootstrap5/form.html" import render_form %} {% block content %} {% include "header.html" %}

<!-- Page Header-->
<header
        class="masthead"
        style="background-image: url('../static/assets/img/home-bg.jpg')"
>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Kubernetes Knowledge Center</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container">
        <div class="row">
            <div class="content">
                <p class="description">Ask any Kubernetes question from watsonx. If you do not get the desired answer,
                    reword the question and retry. Sometimes just adjusting the punctuation marks produces better
                    results.</p>
                {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
            </div>
        </div>
    </div>
</main>

{% include "footer.html" %} {% endblock %}

