.footer{
  position: absolute;
  bottom: 0;
  background-color: black;
  // background: linear-gradient(0deg, rgba(69, 137, 255, 0.2) 0%, #262626 50%),
  // var(--cds-background, #ffffff);
   width: 100%;
   border-top: 1px solid #393939;
  //  margin-left: -2rem;
   padding: 0.5rem 2rem;
   text-align: center;

}