.bg-tile {
  // background-color: #6929c4;
  background-image: linear-gradient(#012c9c, #5c4bd2);
  // height: 22%;
  padding: 2rem;
  text-align: center;
}
.text-center{
  // padding: 1rem 5rem;
  text-align: center;
  // height: 20%;
}