.prompt-tile {
    // background: var(--cds-layer-accent-01, #262626);
    background-color: var(--cds-layer-02, #ffffff);
    font-size: 6px;
    width: 12rem;
    height: 7rem;
    border-radius: 5%;
    margin: 1rem 0.5rem;
    border: 1px solid var(--cds-border-subtle-00, #e0e0e0);
}